 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>As an internal consultant supporting the Duke Energy Change Management Center of Excellence, I am helping their team scale their Organizational Change Management structure and learning offerings for 30,000+ teammates. My focus areas are standardizing and automating their operational processes as well as translating their educational offerings from live sessions to Articulate Rise eLearning modules.</p>
                </div>
                <div class="col-lg-4">
                    <p>In previous roles I've led organization-wide changes around implementing Quality Improvement initiatives, helping departments within a shared-services model transform their delivery approach, and helping teams adopt meaningful change management metrics. I have served more than 7 years as a trusted consultant partner to senior executives in Healthcare, Regulated Utilities, and Consulting settings.</p>
                </div>
            </div>
        </div>
    </section>
